/* стиль для всего сайта */


body {
    background: linear-gradient(135deg, #e9f0ff, #f8fbff);
    font-family: "Segoe UI", Tahoma, sans-serif;
    color: #212529;
}

/* тест */
.container {
    max-width: 850px;
    background: #ffffff;
    padding: 30px 35px;
    border-radius: 16px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

/* Заголовок */
h2 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
    color: #0d6efd;
}

/* вопрос */
p {
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 20px;
}

/* Выпадающий список */
select.form-select {
    border-radius: 10px;
    padding: 10px 14px;
    border: 1px solid #ced4da;
    transition: all 0.2s ease;
}

/* Фокус */
select.form-select:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.2);
}

/* Кнопка */
button.btn-success {
    display: block;
    width: 100%;
    padding: 14px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 12px;
    margin-top: 30px;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

/* наведение */
button.btn-success:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(25, 135, 84, 0.3);
}

/* Результат */
#result {
    border-radius: 14px;
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
    box-shadow: 0 8px 25px rgba(13, 110, 253, 0.15);
}

/* Анимация появления результата */
#result:not(.d-none) {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


main {
    flex: 1;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;


    margin-top: clamp(60px, 10vh, 200px);

    background: rgb(41, 40, 40);
    text-align: center;
    padding: 40px 20px;
    color: #0088cc;
    font-size: clamp(14px, 2vw, 18px);
}


@media (max-width: 600px) {
    footer {
        padding: 30px 15px;

        flex-direction: column;
    }



    .socicon {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        display: inline-block;
        margin: 0 15px;
        cursor: pointer;
        transition: background-color 0.5s;

    }


    .socicon.tg:hover {
        background-color: #0088cc;
    }
}